In [1]:

import sys
import os
project_root = os.path.abspath(os.path.join(os.getcwd(), r'C:\Users\Joel\Desktop\Sprints Case Study'))

if project_root not in sys.path:
    sys.path.append(project_root)

from utils.connectors import API_Client
from utils.transformations import remove_invalid_rows, convert_to_dataframe
from datetime import datetime
import pandas as pd

base_url = "https://technical-case-platform-engineer.onrender.com"
today = datetime.today()

In [2]:
api_connector = API_Client(base_url)

currency_data = api_connector.get("exchange-rates")
value_data = api_connector.get("monthly-data")

currency_df = convert_to_dataframe(currency_data)
value_df = convert_to_dataframe(value_data)

In [3]:
cleaned_value_df = remove_invalid_rows(value_df, currency_df)
cleaned_value_df

0      SEK
1      SEK
2      SEK
3      SEK
4      EUR
      ...
428    USD
429    USD
430    USD
431    EUR
432    EUR
Name: currency, Length: 433, dtype: object
0    EUR
1    USD
Name: from_currency, dtype: object

      timestamp    value           company currency
1    2025-01-01  6512.17  Solvex Solutions      SEK
2    2024-12-01  5394.51  Solvex Solutions      SEK
3    2024-11-01  3040.15  Solvex Solutions      SEK
4    2024-10-01  6558.26  Solvex Solutions      EUR
5    2024-09-01  5402.61  Solvex Solutions      SEK
..          ...      ...               ...      ...
428  2013-06-01  9090.43      VertexSphere      USD
429  2013-05-01  6123.12      VertexSphere      USD
430  2013-04-01  4246.13      VertexSphere      USD
431  2013-03-01  1381.20      VertexSphere      EUR
432  2013-02-01  1640.59      VertexSphere      EUR

[424 rows x 4 columns]